<!DOCTYPE html>
<html>
<head>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
th {
  text-align: left;
}



    </style>
</head>
<body>

<h2>Organization: rt-bot-51 Date: 2019-11-10</h2>

<table style="width:50%">

    <tr>
        
        <th></th>
        
        <th>Goutom Roy</th>
        
    </tr>
    
    <tr>
        
        
        <td><b>hubstaff bot51</b></td>
        
        
        
        <td>00:37</td>
        
        
    </tr>
    
    <tr>
        
        
        <td><b>ProjectA</b></td>
        
        
        
        <td>00:41</td>
        
        
    </tr>
    
</table>

</body>
</html>